.hero {
  text-align: center;

  .love {
    width: 250px;
    margin-top: 5.5rem;
    margin-bottom: 0.3rem;
  }

  h3 {
    color: #c48a7d;
    margin-top: 0;
    font-family: baskerville;
    font-style: italic;
    font-size: 1.5rem;
  }

  p {
    color: #c48a7d;
    font-family: futura;
    font-size: 0.9rem;
    margin-top: 3rem;
    margin-bottom: 7rem;
  }
}
