.hero {
  text-align: center;

  .love {
    width: 250px;
    margin-top: 4rem;
  }

  h3 {
    color: #c48a7d;
    margin-top: 0;
    font-family: futura;
    font-style: italic;
    font-size: 1.3rem;
  }

  p {
    color: #c48a7d;
    font-family: futura;
    font-size: 0.8rem;
    margin-top: 0.2rem;
    margin-bottom: 5rem;
  }
}
