.about {
  .container {
    margin: 2rem;
  }

  h3 {
    margin-top: 4rem;
    color: #81807f;
    font-family: baskerville;
    font-style: italic;
    font-weight: bolder;
  }

  p {
    color: #81807f;
    font-family: futura;
    font-size: 0.6rem;
  }

  h4 {
    color: #81807f;
    font-family: baskerville;
    font-style: italic;
    margin-top: 2rem;
    margin-left: 12rem;
  }

  .jessica {
    width: 300px;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}

@media (min-width: 412px) {
  .about {
    .container {
      display: inline-block;
    }

    h3 {
      margin-left: 1rem;
    }

    p {
      margin-left: 1rem;
    }

    .jessica {
      margin-top: 0;
      margin-bottom: 4rem;
      margin-left: 1rem;
    }
  }
}

@media (min-width: 500px) {
  .about {
    .container {
      display: inline-block;
    }

    h3 {
      margin-left: 5rem;
    }

    p {
      margin-left: 5rem;
    }

    .jessica {
      margin-top: 0;
      margin-bottom: 4rem;
      margin-left: 4rem;
    }
  }
}

@media (min-width: 650px) {
  .about {
    .container {
      display: inline-block;
      margin-left: 9rem;
    }

    h3 {
      margin-left: 3rem;
    }

    p {
      margin-left: 3rem;
    }

    .jessica {
      margin-top: 0;
      margin-bottom: 4rem;
      margin-left: 2rem;
    }
  }
}

@media (min-width: 768px) {
  .about {
    .container {
      display: inline-block;
      margin-left: 9rem;
    }

    h3 {
      margin-left: 5rem;
    }

    p {
      margin-left: 5rem;
    }

    .jessica {
      margin-top: 0;
      margin-bottom: 4rem;
      margin-left: 5rem;
    }
  }
}

@media (min-width: 850px) {
  .about {
    .container {
      display: inline-block;
      margin-left: 12rem;
    }
  }
}

@media (min-width: 900px) {
  .about {
    display: flex;

    .container {
      margin-top: 5rem;
      margin-left: 0;
    }

    .jessica {
      width: 350px;
      margin-top: 3rem;
      margin-bottom: 2.5rem;
      margin-left: 0;
    }

    h3 {
      font-size: 1.5rem;
      margin-left: 5rem;
    }

    p {
      font-size: 0.7rem;
      margin-left: 5rem;
    }

    h4 {
      font-size: 1.3rem;
      margin-left: 20rem;
    }
  }
}

@media (min-width: 1000px) {
  .about {
    display: flex;

    .container {
      margin-top: 5rem;
      margin-left: 2rem;
    }

    .jessica {
      width: 350px;
      margin-top: 3rem;
      margin-bottom: 4rem;
    }

    h3 {
      font-size: 1.5rem;
      margin-left: 3rem;
    }

    p {
      font-size: 0.8rem;
      margin-left: 3rem;
    }

    h4 {
      font-size: 1.3rem;
      margin-left: 20rem;
    }
  }
}

@media (min-width: 1050px) {
  .about {
    display: flex;

    .container {
      margin-top: 5rem;
      margin-left: 4rem;
    }

    .jessica {
      width: 350px;
      margin-top: 3rem;
      margin-bottom: 4rem;
    }

    h3 {
      font-size: 1.5rem;
      margin-left: 3rem;
    }

    p {
      font-size: 0.8rem;
      margin-left: 3rem;
    }

    h4 {
      font-size: 1.3rem;
      margin-left: 20rem;
    }
  }
}

@media (min-width: 1200px) {
  .about {
    display: flex;

    .container {
      margin-top: 5rem;
      margin-left: 2rem;
    }

    .jessica {
      width: 400px;
      margin-top: 3rem;
      margin-bottom: 4rem;
    }

    h3 {
      font-size: 1.7rem;
      margin-left: 5rem;
    }

    p {
      font-size: 1rem;
      margin-left: 5rem;
    }

    h4 {
      font-size: 1.3rem;
      margin-left: 30rem;
    }
  }
}

@media (min-width: 1280px) {
  .about {
    display: flex;

    .container {
      margin-top: 5rem;
      margin-left: 2rem;
    }

    .jessica {
      width: 400px;
      margin-top: 3rem;
      margin-bottom: 4rem;
    }

    h3 {
      font-size: 1.7rem;
      margin-left: 5rem;
    }

    p {
      font-size: 1rem;
      margin-left: 5rem;
    }

    h4 {
      font-size: 1.3rem;
      margin-left: 30rem;
    }
  }
}

@media (min-width: 1430px) {
  .about {
    display: flex;

    .container {
      margin-top: 5rem;
      margin-left: 6rem;
    }
  }
}
