.about {
  .container {
    margin: 2rem;
  }

  h3 {
    margin-top: 4rem;
    color: #81807f;
    font-family: baskerville;
    font-style: italic;
    font-weight: bolder;
  }

  p {
    color: #81807f;
    font-family: futura;
    font-size: 0.6rem;
  }

  h4 {
    color: #81807f;
    font-family: baskerville;
    font-style: italic;
    margin-top: 2rem;
    margin-left: 12rem;
  }

  .jessica {
    width: 300px;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}

@media (min-width: 650px) {
  .about {
    display: flex;

    .container {
      display: inline-block;
      margin-bottom: 5rem;
      margin-left: 3.5rem;
    }

    .jessica {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 1200px) {
  .about {
    display: flex;

    .container {
      margin-left: 3rem;
    }

    .jessica {
      width: 400px;
      margin-top: 3rem;
      margin-bottom: 4rem;
    }

    h3 {
      font-size: 1.7rem;
      margin-left: 9rem;
    }

    p {
      font-size: 1rem;
      margin-left: 9rem;
    }

    h4 {
      font-size: 1.3rem;
      margin-left: 33rem;
    }
  }
}
