.footer {
  background-color: #81807f;
  display: flex;

  ul {
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 6rem;
    font-family: futura;
    font-size: 0.7rem;
  }

  li {
    list-style: none;
    color: white;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

@media (min-width: 1200px) {
  .footer {
    height: 500px;

    ul {
      font-size: 1rem;
      line-height: 2rem;
      margin-top: 5rem;
      margin-left: 4rem;
    }
  }
}

.about_footer {
  background-color: #81807f;
  display: flex;

  ul {
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 6rem;
    font-family: futura;
    font-size: 0.7rem;
  }

  li {
    list-style: none;
    color: white;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

@media (min-width: 750px) {
  .about_footer {
    margin-top: 3rem;
  }
}

@media (min-width: 1200px) {
  .about_footer {
    height: 500px;

    ul {
      font-size: 1rem;
      line-height: 2rem;
      margin-top: 5rem;
      margin-left: 4rem;
    }
  }
}

.shop_footer {
  background-color: #81807f;
  display: flex;

  ul {
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 6rem;
    font-family: futura;
    font-size: 0.7rem;
  }

  li {
    list-style: none;
    color: white;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

@media (min-width: 750px) {
  .shop_footer {
    height: 400px;

    ul {
      font-size: 0.9rem;
    }
  }
}

@media (min-width: 1200px) {
  .shop_footer {
    height: 500px;

    ul {
      font-size: 1rem;
      line-height: 2rem;
      margin-left: 4rem;
    }
  }
}
