.gold {
  text-align: center;
  color: #81807f;

  h1 {
    font-family: baskerville;
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }

  p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.9rem;
    margin: 1rem;
    margin-bottom: 4rem;
  }

  .container img {
    width: 60%;
  }

  h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 4.5rem;
  }
}

@media (min-width: 750px) {
  .gold {
    .container {
      display: flex;
      margin-left: 5rem;
      margin-right: 5rem;
      margin-bottom: 2rem;
    }

    .container img {
      width: 95%;
    }

    h1 {
      font-size: 1.7rem;
      margin-top: 5rem;
    }

    p {
      font-size: 1rem;
      margin-bottom: 6rem;
    }

    h2 {
      font-size: 1rem;
    }
  }
}

@media (min-width: 900px) {
  .gold {
    h1 {
      font-size: 1.7rem;
      margin-top: 5rem;
    }

    p {
      font-size: 1rem;
      margin-bottom: 6rem;
    }

    h2 {
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 1200px) {
  .gold {
    h2 {
      font-size: 1.5rem;
      margin-top: 2rem;
      margin-bottom: 5rem;
    }

    p {
      font-size: 1.2rem;
    }
  }
}
