.others {
  text-align: center;
  color: #81807f;
  padding-top: 1rem;
  padding-bottom: 4rem;
  background-color: #e8eeee;

  h1 {
    font-family: baskerville;
    font-size: 1.5rem;
    margin-top: 3rem;
  }

  p {
    font-family: futura;
    font-size: 0.8rem;
    margin: 1rem;
    margin-bottom: 4rem;
  }

  .container img {
    width: 80%;
    margin-bottom: 1rem;
  }
}

@media (min-width: 750px) {
  .gold {
    padding-top: 0;

    .container {
      display: flex;
      margin: 5rem;
    }

    .container img {
      width: 95%;
    }

    h2 {
      font-size: 0.9rem;
    }
  }
}
